################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/neurolife/.vs/neurolife/v15
/neurolife/buld
*.ilk
*.pdb
*.iobj
*.ipdb
